div[data-tab-id="by-shade"] div.table>div {
  width: 100%;
  border: none;
}
div[data-tab-id="by-shade"] div.table table td:nth-child(n + 1) {
  width: 50%;
}
div[data-tab-id="by-shade"] div.table table td:nth-child(n + 2) {
  width: 20%;
}
div[data-tab-id="by-shade"] div.table table td:nth-child(n + 3) {
  width: 30%;
}
div[data-tab-id="by-name"] div.table table td:nth-child(n + 1) {
  width: 50%;
}
div[data-tab-id="by-name"] div.table table td:nth-child(n + 2) {
  width: 20%;
}
div[data-tab-id="by-name"] div.table table td:nth-child(n + 3) {
  width: 30%;
}

div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(1) td { background-color: #800000; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(2) td { background-color: #8B0000; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(3) td { background-color: #8B4513; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(4) td { background-color: #A52A2A; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(5) td { background-color: #B22222; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(6) td { background-color: #A0522D; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(7) td { background-color: #CD5C5C; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(8) td { background-color: #D2691E; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(9) td { background-color: #CD853F; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(10) td { background-color: #BC8F8F; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(11) td { background-color: #D2B48C; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(12) td { background-color: #DEB887; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(2) table tr:nth-of-type(1) td { background-color: #FF0000; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(2) table tr:nth-of-type(2) td { background-color: #FF4500; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(2) table tr:nth-of-type(3) td { background-color: #FF6347; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(2) table tr:nth-of-type(4) td { background-color: #F08080; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(2) table tr:nth-of-type(5) td { background-color: #FA8072; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(2) table tr:nth-of-type(6) td { background-color: #FF7F50; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(2) table tr:nth-of-type(7) td { background-color: #E9967A; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(2) table tr:nth-of-type(8) td { background-color: #FFA07A; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(1) td { background-color: #B8860B; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(2) td { background-color: #FF8C00; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(3) td { background-color: #DAA520; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(4) td { background-color: #F4A460; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(5) td { background-color: #FFA500; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(6) td { background-color: #FFDAB9; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(7) td { background-color: #F5DEB3; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(8) td { background-color: #FFDEAD; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(9) td { background-color: #FFE4B5; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(10) td { background-color: #FFE4C4; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(4) table tr:nth-of-type(1) td { background-color: #808000; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(4) table tr:nth-of-type(2) td { background-color: #BDB76B; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(4) table tr:nth-of-type(3) td { background-color: #FFD700; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(4) table tr:nth-of-type(4) td { background-color: #EEDD82; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(4) table tr:nth-of-type(5) td { background-color: #F0E68C; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(4) table tr:nth-of-type(6) td { background-color: #EEE8AA; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(4) table tr:nth-of-type(7) td { background-color: #FFFF00; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(4) table tr:nth-of-type(8) td { background-color: #FFFACD; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(1) td { background-color: #006400; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(2) td { background-color: #556B2F; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(3) td { background-color: #008000; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(4) td { background-color: #228B22; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(5) td { background-color: #2E8B57; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(6) td { background-color: #6B8E23; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(7) td { background-color: #3CB371; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(8) td { background-color: #32CD32; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(9) td { background-color: #8FBC8F; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(10) td { background-color: #66CDAA; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(11) td { background-color: #9ACD32; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(12) td { background-color: #90EE90; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(13) td { background-color: #00FA9A; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(14) td { background-color: #00FF00; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(15) td { background-color: #00FF7F; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(16) td { background-color: #7CFC00; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(17) td { background-color: #7FFF00; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(18) td { background-color: #98FB98; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(19) td { background-color: #7FFFD4; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(20) td { background-color: #ADFF2F; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(1) td { background-color: #008080; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(2) td { background-color: #008B8B; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(3) td { background-color: #5F9EA0; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(4) td { background-color: #20B2AA; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(5) td { background-color: #00CED1; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(6) td { background-color: #48D1CC; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(7) td { background-color: #40E0D0; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(8) td { background-color: #B0E0E6; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(9) td { background-color: #AFEEEE; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(10) td { background-color: #00FFFF; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(11) td { background-color: #00FFFF; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(1) td { background-color: #000080; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(2) td { background-color: #191970; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(3) td { background-color: #00008B; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(4) td { background-color: #0000CD; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(5) td { background-color: #0000FF; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(6) td { background-color: #4169E1; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(7) td { background-color: #4682B4; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(8) td { background-color: #118ED8; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(9) td { background-color: #1E90FF; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(10) td { background-color: #6495ED; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(11) td { background-color: #00BFFF; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(12) td { background-color: #B0C4DE; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(13) td { background-color: #87CEEB; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(14) td { background-color: #87CEFA; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(15) td { background-color: #ADD8E6; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(1) td { background-color: #4B0082; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(2) td { background-color: #483D8B; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(3) td { background-color: #663399; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(4) td { background-color: #9400D3; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(5) td { background-color: #8A2BE2; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(6) td { background-color: #9932CC; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(7) td { background-color: #6A5ACD; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(8) td { background-color: #7B68EE; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(9) td { background-color: #9370DB; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(10) td { background-color: #8470FF; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(11) td { background-color: #E6E6FA; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(1) td { background-color: #800080; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(2) td { background-color: #8B008B; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(3) td { background-color: #BA55D3; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(4) td { background-color: #DA70D6; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(5) td { background-color: #FF00FF; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(6) td { background-color: #FF00FF; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(7) td { background-color: #EE82EE; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(8) td { background-color: #DDA0DD; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(9) td { background-color: #D8BFD8; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(10) td { background-color: #FFD2FF; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(10) table tr:nth-of-type(1) td { background-color: #C71585; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(10) table tr:nth-of-type(2) td { background-color: #DC143C; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(10) table tr:nth-of-type(3) td { background-color: #D02090; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(10) table tr:nth-of-type(4) td { background-color: #FF1493; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(10) table tr:nth-of-type(5) td { background-color: #DB7093; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(10) table tr:nth-of-type(6) td { background-color: #FF69B4; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(10) table tr:nth-of-type(7) td { background-color: #FFB6C1; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(10) table tr:nth-of-type(8) td { background-color: #FFC0CB; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(1) td { background-color: #FFFFFF; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(2) td { background-color: #FFFAFA; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(3) td { background-color: #F5F5F5; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(4) td { background-color: #FFE4E1; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(5) td { background-color: #FFF5EE; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(6) td { background-color: #FAF0E6; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(7) td { background-color: #FAEBD7; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(8) td { background-color: #FFEBCD; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(9) td { background-color: #FFEFD5; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(10) td { background-color: #FFFAF0; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(11) td { background-color: #FDF5E6; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(12) td { background-color: #FFF8DC; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(13) td { background-color: #FFFFF0; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(14) td { background-color: #FFFFE0; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(15) td { background-color: #FAFAD2; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(16) td { background-color: #F5F5DC; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(17) td { background-color: #F0FFF0; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(18) td { background-color: #F5FFFA; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(19) td { background-color: #F0FFFF; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(20) td { background-color: #E0FFFF; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(21) td { background-color: #F0F8FF; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(22) td { background-color: #F8F8FF; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(23) td { background-color: #FFF0F5; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(1) td { background-color: #000000; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(2) td { background-color: #1A1A1A; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(3) td { background-color: #333333; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(4) td { background-color: #2F4F4F; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(5) td { background-color: #4D4D4D; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(6) td { background-color: #555555; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(7) td { background-color: #666666; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(8) td { background-color: #696969; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(9) td { background-color: #708090; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(10) td { background-color: #808080; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(11) td { background-color: #808080; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(12) td { background-color: #778899; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(13) td { background-color: #999999; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(14) td { background-color: #B3B3B3; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(15) td { background-color: #C0C0C0; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(16) td { background-color: #CCCCCC; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(17) td { background-color: #D3D3D3; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(18) td { background-color: #DCDCDC; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(19) td { background-color: #E6E6E6; color: black; }