div[data-tab-id="by-shade"] div.table>div {
  width: 100%;
  border: none;
}
div[data-tab-id="by-shade"] div.table table {
  width: 75%;
}
div[data-tab-id="by-shade"] div.table table td:nth-child(n + 1) {
  width: 50%;
}
div[data-tab-id="by-shade"] div.table table td:nth-child(n + 2) {
  width: 20%;
}
div[data-tab-id="by-shade"] div.table table td:nth-child(n + 3) {
  width: 30%;
}

div[data-tab-id="by-name"] div.table>div {
  width: 100%;
  border: none;
}
div[data-tab-id="by-name"] div.table table {
  width: 75%;
}
div[data-tab-id="by-name"] div.table table td:nth-child(n + 1) {
  width: 50%;
}
div[data-tab-id="by-name"] div.table table td:nth-child(n + 2) {
  width: 20%;
}
div[data-tab-id="by-name"] div.table table td:nth-child(n + 3) {
  width: 30%;
}

div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(1) td { background-color: #800000; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(2) td { background-color: #8B0000; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(3) td { background-color: #8B4513; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(4) td { background-color: #A52A2A; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(5) td { background-color: #B22222; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(6) td { background-color: #A0522D; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(7) td { background-color: #CD5C5C; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(8) td { background-color: #D2691E; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(9) td { background-color: #CD853F; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(10) td { background-color: #BC8F8F; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(11) td { background-color: #D2B48C; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(1) table tr:nth-of-type(12) td { background-color: #DEB887; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(2) table tr:nth-of-type(1) td { background-color: #FF0000; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(2) table tr:nth-of-type(2) td { background-color: #FF4500; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(2) table tr:nth-of-type(3) td { background-color: #FF6347; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(2) table tr:nth-of-type(4) td { background-color: #F08080; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(2) table tr:nth-of-type(5) td { background-color: #FA8072; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(2) table tr:nth-of-type(6) td { background-color: #FF7F50; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(2) table tr:nth-of-type(7) td { background-color: #E9967A; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(2) table tr:nth-of-type(8) td { background-color: #FFA07A; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(1) td { background-color: #B8860B; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(2) td { background-color: #FF8C00; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(3) td { background-color: #DAA520; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(4) td { background-color: #F4A460; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(5) td { background-color: #FFA500; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(6) td { background-color: #FFDAB9; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(7) td { background-color: #F5DEB3; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(8) td { background-color: #FFDEAD; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(9) td { background-color: #FFE4B5; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(3) table tr:nth-of-type(10) td { background-color: #FFE4C4; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(4) table tr:nth-of-type(1) td { background-color: #808000; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(4) table tr:nth-of-type(2) td { background-color: #BDB76B; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(4) table tr:nth-of-type(3) td { background-color: #FFD700; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(4) table tr:nth-of-type(4) td { background-color: #EEDD82; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(4) table tr:nth-of-type(5) td { background-color: #F0E68C; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(4) table tr:nth-of-type(6) td { background-color: #EEE8AA; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(4) table tr:nth-of-type(7) td { background-color: #FFFF00; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(4) table tr:nth-of-type(8) td { background-color: #FFFACD; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(1) td { background-color: #006400; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(2) td { background-color: #556B2F; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(3) td { background-color: #008000; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(4) td { background-color: #228B22; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(5) td { background-color: #2E8B57; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(6) td { background-color: #6B8E23; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(7) td { background-color: #3CB371; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(8) td { background-color: #32CD32; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(9) td { background-color: #8FBC8F; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(10) td { background-color: #66CDAA; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(11) td { background-color: #9ACD32; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(12) td { background-color: #90EE90; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(13) td { background-color: #00FA9A; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(14) td { background-color: #00FF00; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(15) td { background-color: #00FF7F; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(16) td { background-color: #7CFC00; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(17) td { background-color: #7FFF00; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(18) td { background-color: #98FB98; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(19) td { background-color: #7FFFD4; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(5) table tr:nth-of-type(20) td { background-color: #ADFF2F; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(1) td { background-color: #008080; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(2) td { background-color: #008B8B; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(3) td { background-color: #5F9EA0; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(4) td { background-color: #20B2AA; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(5) td { background-color: #00CED1; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(6) td { background-color: #48D1CC; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(7) td { background-color: #40E0D0; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(8) td { background-color: #B0E0E6; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(9) td { background-color: #AFEEEE; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(10) td { background-color: #00FFFF; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(6) table tr:nth-of-type(11) td { background-color: #00FFFF; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(1) td { background-color: #000080; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(2) td { background-color: #191970; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(3) td { background-color: #00008B; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(4) td { background-color: #0000CD; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(5) td { background-color: #0000FF; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(6) td { background-color: #4169E1; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(7) td { background-color: #4682B4; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(8) td { background-color: #118ED8; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(9) td { background-color: #1E90FF; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(10) td { background-color: #6495ED; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(11) td { background-color: #00BFFF; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(12) td { background-color: #B0C4DE; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(13) td { background-color: #87CEEB; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(14) td { background-color: #87CEFA; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(7) table tr:nth-of-type(15) td { background-color: #ADD8E6; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(1) td { background-color: #4B0082; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(2) td { background-color: #483D8B; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(3) td { background-color: #663399; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(4) td { background-color: #9400D3; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(5) td { background-color: #8A2BE2; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(6) td { background-color: #9932CC; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(7) td { background-color: #6A5ACD; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(8) td { background-color: #7B68EE; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(9) td { background-color: #9370DB; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(10) td { background-color: #8470FF; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(8) table tr:nth-of-type(11) td { background-color: #E6E6FA; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(1) td { background-color: #800080; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(2) td { background-color: #8B008B; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(3) td { background-color: #BA55D3; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(4) td { background-color: #DA70D6; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(5) td { background-color: #FF00FF; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(6) td { background-color: #FF00FF; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(7) td { background-color: #EE82EE; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(8) td { background-color: #DDA0DD; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(9) td { background-color: #D8BFD8; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(9) table tr:nth-of-type(10) td { background-color: #FFD2FF; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(10) table tr:nth-of-type(1) td { background-color: #C71585; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(10) table tr:nth-of-type(2) td { background-color: #DC143C; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(10) table tr:nth-of-type(3) td { background-color: #D02090; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(10) table tr:nth-of-type(4) td { background-color: #FF1493; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(10) table tr:nth-of-type(5) td { background-color: #DB7093; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(10) table tr:nth-of-type(6) td { background-color: #FF69B4; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(10) table tr:nth-of-type(7) td { background-color: #FFB6C1; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(10) table tr:nth-of-type(8) td { background-color: #FFC0CB; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(1) td { background-color: #FFFFFF; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(2) td { background-color: #FFFAFA; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(3) td { background-color: #F5F5F5; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(4) td { background-color: #FFE4E1; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(5) td { background-color: #FFF5EE; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(6) td { background-color: #FAF0E6; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(7) td { background-color: #FAEBD7; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(8) td { background-color: #FFEBCD; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(9) td { background-color: #FFEFD5; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(10) td { background-color: #FFFAF0; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(11) td { background-color: #FDF5E6; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(12) td { background-color: #FFF8DC; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(13) td { background-color: #FFFFF0; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(14) td { background-color: #FFFFE0; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(15) td { background-color: #FAFAD2; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(16) td { background-color: #F5F5DC; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(17) td { background-color: #F0FFF0; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(18) td { background-color: #F5FFFA; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(19) td { background-color: #F0FFFF; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(20) td { background-color: #E0FFFF; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(21) td { background-color: #F0F8FF; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(22) td { background-color: #F8F8FF; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(11) table tr:nth-of-type(23) td { background-color: #FFF0F5; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(1) td { background-color: #000000; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(2) td { background-color: #1A1A1A; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(3) td { background-color: #333333; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(4) td { background-color: #2F4F4F; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(5) td { background-color: #4D4D4D; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(6) td { background-color: #555555; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(7) td { background-color: #666666; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(8) td { background-color: #696969; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(9) td { background-color: #708090; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(10) td { background-color: #808080; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(11) td { background-color: #808080; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(12) td { background-color: #778899; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(13) td { background-color: #999999; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(14) td { background-color: #B3B3B3; color: white; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(15) td { background-color: #C0C0C0; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(16) td { background-color: #CCCCCC; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(17) td { background-color: #D3D3D3; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(18) td { background-color: #DCDCDC; color: black; }
div[data-tab-id="by-shade"] div.table:nth-of-type(12) table tr:nth-of-type(19) td { background-color: #E6E6E6; color: black; }

div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(1) td { background-color: #F0F8FF; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(2) td { background-color: #FAEBD7; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(3) td { background-color: #00FFFF; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(4) td { background-color: #7FFFD4; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(5) td { background-color: #F0FFFF; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(6) td { background-color: #F5F5DC; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(7) td { background-color: #FFE4C4; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(8) td { background-color: #000000; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(9) td { background-color: #FFEBCD; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(10) td { background-color: #0000FF; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(11) td { background-color: #8A2BE2; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(12) td { background-color: #A52A2A; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(13) td { background-color: #DEB887; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(14) td { background-color: #5F9EA0; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(15) td { background-color: #7FFF00; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(16) td { background-color: #D2691E; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(17) td { background-color: #FF7F50; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(18) td { background-color: #6495ED; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(19) td { background-color: #FFF8DC; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(20) td { background-color: #DC143C; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(21) td { background-color: #00FFFF; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(22) td { background-color: #00008B; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(23) td { background-color: #008B8B; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(24) td { background-color: #B8860B; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(25) td { background-color: #555555; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(26) td { background-color: #006400; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(27) td { background-color: #BDB76B; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(28) td { background-color: #8B008B; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(29) td { background-color: #556B2F; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(30) td { background-color: #FF8C00; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(31) td { background-color: #9932CC; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(32) td { background-color: #8B0000; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(33) td { background-color: #E9967A; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(34) td { background-color: #8FBC8F; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(35) td { background-color: #483D8B; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(36) td { background-color: #2F4F4F; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(37) td { background-color: #00CED1; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(38) td { background-color: #9400D3; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(39) td { background-color: #FF1493; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(40) td { background-color: #00BFFF; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(41) td { background-color: #696969; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(42) td { background-color: #1E90FF; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(43) td { background-color: #B22222; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(44) td { background-color: #FFFAF0; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(45) td { background-color: #228B22; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(46) td { background-color: #FF00FF; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(47) td { background-color: #DCDCDC; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(48) td { background-color: #F8F8FF; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(49) td { background-color: #FFD700; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(50) td { background-color: #DAA520; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(51) td { background-color: #808080; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(52) td { background-color: #000000; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(53) td { background-color: #030303; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(54) td { background-color: #050505; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(55) td { background-color: #080808; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(56) td { background-color: #0A0A0A; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(57) td { background-color: #0D0D0D; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(58) td { background-color: #0F0F0F; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(59) td { background-color: #121212; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(60) td { background-color: #141414; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(61) td { background-color: #171717; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(62) td { background-color: #1A1A1A; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(63) td { background-color: #1C1C1C; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(64) td { background-color: #1F1F1F; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(65) td { background-color: #212121; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(66) td { background-color: #242424; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(67) td { background-color: #262626; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(68) td { background-color: #292929; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(69) td { background-color: #2B2B2B; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(70) td { background-color: #2E2E2E; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(71) td { background-color: #303030; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(72) td { background-color: #333333; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(73) td { background-color: #363636; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(74) td { background-color: #383838; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(75) td { background-color: #3B3B3B; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(76) td { background-color: #3D3D3D; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(77) td { background-color: #404040; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(78) td { background-color: #424242; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(79) td { background-color: #454545; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(80) td { background-color: #474747; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(81) td { background-color: #4A4A4A; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(82) td { background-color: #4D4D4D; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(83) td { background-color: #4F4F4F; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(84) td { background-color: #525252; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(85) td { background-color: #545454; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(86) td { background-color: #575757; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(87) td { background-color: #595959; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(88) td { background-color: #5C5C5C; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(89) td { background-color: #5E5E5E; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(90) td { background-color: #616161; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(91) td { background-color: #636363; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(92) td { background-color: #666666; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(93) td { background-color: #696969; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(94) td { background-color: #6B6B6B; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(95) td { background-color: #6E6E6E; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(96) td { background-color: #707070; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(97) td { background-color: #737373; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(98) td { background-color: #757575; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(99) td { background-color: #787878; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(100) td { background-color: #7A7A7A; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(101) td { background-color: #7D7D7D; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(102) td { background-color: #808080; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(103) td { background-color: #828282; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(104) td { background-color: #858585; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(105) td { background-color: #878787; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(106) td { background-color: #8A8A8A; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(107) td { background-color: #8C8C8C; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(108) td { background-color: #8F8F8F; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(109) td { background-color: #919191; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(110) td { background-color: #949494; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(111) td { background-color: #969696; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(112) td { background-color: #999999; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(113) td { background-color: #9C9C9C; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(114) td { background-color: #9E9E9E; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(115) td { background-color: #A1A1A1; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(116) td { background-color: #A3A3A3; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(117) td { background-color: #A6A6A6; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(118) td { background-color: #A8A8A8; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(119) td { background-color: #ABABAB; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(120) td { background-color: #ADADAD; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(121) td { background-color: #B0B0B0; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(122) td { background-color: #B3B3B3; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(123) td { background-color: #B5B5B5; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(124) td { background-color: #B8B8B8; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(125) td { background-color: #BABABA; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(126) td { background-color: #BDBDBD; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(127) td { background-color: #BFBFBF; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(128) td { background-color: #C2C2C2; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(129) td { background-color: #C4C4C4; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(130) td { background-color: #C7C7C7; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(131) td { background-color: #C9C9C9; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(132) td { background-color: #CCCCCC; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(133) td { background-color: #CFCFCF; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(134) td { background-color: #D1D1D1; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(135) td { background-color: #D4D4D4; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(136) td { background-color: #D6D6D6; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(137) td { background-color: #D9D9D9; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(138) td { background-color: #DBDBDB; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(139) td { background-color: #DEDEDE; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(140) td { background-color: #E0E0E0; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(141) td { background-color: #E3E3E3; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(142) td { background-color: #E6E6E6; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(143) td { background-color: #E8E8E8; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(144) td { background-color: #EBEBEB; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(145) td { background-color: #EDEDED; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(146) td { background-color: #F0F0F0; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(147) td { background-color: #F2F2F2; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(148) td { background-color: #F5F5F5; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(149) td { background-color: #F7F7F7; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(150) td { background-color: #FAFAFA; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(151) td { background-color: #FCFCFC; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(152) td { background-color: #FFFFFF; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(153) td { background-color: #008000; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(154) td { background-color: #ADFF2F; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(155) td { background-color: #F0FFF0; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(156) td { background-color: #FF69B4; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(157) td { background-color: #CD5C5C; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(158) td { background-color: #4B0082; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(159) td { background-color: #FFFFF0; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(160) td { background-color: #F0E68C; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(161) td { background-color: #E6E6FA; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(162) td { background-color: #FFF0F5; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(163) td { background-color: #7CFC00; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(164) td { background-color: #FFFACD; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(165) td { background-color: #ADD8E6; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(166) td { background-color: #F08080; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(167) td { background-color: #E0FFFF; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(168) td { background-color: #EEDD82; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(169) td { background-color: #FAFAD2; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(170) td { background-color: #D3D3D3; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(171) td { background-color: #90EE90; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(172) td { background-color: #FFD2FF; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(173) td { background-color: #FFB6C1; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(174) td { background-color: #FFA07A; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(175) td { background-color: #20B2AA; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(176) td { background-color: #87CEFA; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(177) td { background-color: #8470FF; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(178) td { background-color: #778899; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(179) td { background-color: #B0C4DE; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(180) td { background-color: #FFFFE0; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(181) td { background-color: #00FF00; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(182) td { background-color: #32CD32; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(183) td { background-color: #FAF0E6; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(184) td { background-color: #FF00FF; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(185) td { background-color: #800000; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(186) td { background-color: #66CDAA; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(187) td { background-color: #0000CD; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(188) td { background-color: #BA55D3; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(189) td { background-color: #9370DB; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(190) td { background-color: #3CB371; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(191) td { background-color: #7B68EE; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(192) td { background-color: #00FA9A; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(193) td { background-color: #48D1CC; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(194) td { background-color: #C71585; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(195) td { background-color: #191970; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(196) td { background-color: #F5FFFA; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(197) td { background-color: #FFE4E1; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(198) td { background-color: #FFE4B5; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(199) td { background-color: #FFDEAD; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(200) td { background-color: #000080; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(201) td { background-color: #FDF5E6; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(202) td { background-color: #808000; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(203) td { background-color: #6B8E23; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(204) td { background-color: #FFA500; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(205) td { background-color: #FF4500; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(206) td { background-color: #DA70D6; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(207) td { background-color: #118ED8; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(208) td { background-color: #EEE8AA; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(209) td { background-color: #98FB98; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(210) td { background-color: #AFEEEE; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(211) td { background-color: #DB7093; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(212) td { background-color: #FFEFD5; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(213) td { background-color: #FFDAB9; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(214) td { background-color: #CD853F; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(215) td { background-color: #FFC0CB; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(216) td { background-color: #DDA0DD; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(217) td { background-color: #B0E0E6; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(218) td { background-color: #800080; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(219) td { background-color: #663399; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(220) td { background-color: #FF0000; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(221) td { background-color: #BC8F8F; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(222) td { background-color: #4169E1; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(223) td { background-color: #8B4513; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(224) td { background-color: #FA8072; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(225) td { background-color: #F4A460; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(226) td { background-color: #2E8B57; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(227) td { background-color: #FFF5EE; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(228) td { background-color: #A0522D; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(229) td { background-color: #C0C0C0; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(230) td { background-color: #87CEEB; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(231) td { background-color: #6A5ACD; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(232) td { background-color: #708090; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(233) td { background-color: #FFFAFA; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(234) td { background-color: #00FF7F; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(235) td { background-color: #4682B4; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(236) td { background-color: #D2B48C; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(237) td { background-color: #008080; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(238) td { background-color: #D8BFD8; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(239) td { background-color: #FF6347; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(240) td { background-color: #40E0D0; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(241) td { background-color: #EE82EE; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(242) td { background-color: #D02090; color: white; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(243) td { background-color: #F5DEB3; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(244) td { background-color: #FFFFFF; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(245) td { background-color: #F5F5F5; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(246) td { background-color: #FFFF00; color: black; }
div[data-tab-id="by-name"] div.table:nth-of-type(1) table tr:nth-of-type(247) td { background-color: #9ACD32; color: white; }