:root {
    --dokka-logo-image-url: url('../images/logo-dark.svg');
    --dokka-logo-height: 60px;
    --dokka-logo-width: 50px;
}

.brief-comment {
  display: none;
}

.custom-under-cover {
  margin-top: 1.5rem;
}