:root {
    --sidebar-width: 310px;
    --dokka-logo-image-url: url('../images/logo-dark.svg');
    --dokka-logo-height: 60px;
    --dokka-logo-width: 50px;
}

.library-name--link {
  font-size: 17px;
  position: relative;
  bottom: -1px;
  cursor: initial;
}

.library-name--link::before {
  position: relative;
  background-size: 48px;
  bottom: 1px;
  margin-right: 10px;
  cursor: pointer;
}

.library-version {
  font-size: 16px;
  color: white;
  top: 0;
  margin-left: 12px;
}

.brief-comment {
  display: none;
}

.custom-under-cover {
  margin-top: 1.5rem;
}

.platform-tags {
  display: none;
}

#filter-section {
  display: none;
}